attrs==23.1.0
aws-cdk-lib==2.99.0
aws-cdk.asset-awscli-v1==2.2.200
aws-cdk.asset-kubectl-v20==2.1.2
aws-cdk.asset-node-proxy-agent-v6==2.0.1
boto3==1.28.79
botocore==1.31.79
cattrs==23.1.2
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.3.2
constructs==10.3.0
idna==3.4
importlib-resources==6.1.0
jmespath==1.0.1
jsii==1.90.0
markdown-it-py==3.0.0
mdurl==0.1.2
publication==0.0.3
pycparser==2.21
Pygments==2.16.1
python-dateutil==2.8.2
requests==2.31.0
rich==13.6.0
rich-argparse==1.4.0
s3transfer==0.7.0
six==1.16.0
typeguard==2.13.3
typing_extensions==4.8.0
urllib3==1.26.16
